<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StepUp - Premium Footwear</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <form action="/<%= user.id %>/edit?_method=PUT" method="POST">
        <h1>StepUp - Premium Footwear</h1>
        <h2>Add user</h2>
        <input type="text" id="Email" name="Email" placeholder="Enter email" value="<%= user.Email %>" required>
        <input type="text" id="Password" name="Password" placeholder="Enter password" value="<%= user.Password %>"
            required>
        <input type="text" id="Classification" name="Classification" placeholder="Classification"
            value="<%= user.Classification %>" required>
        <button type="submit">Save</button>
    </form>
</body>

</html>